<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login Handler - Register</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>Register</h2>

    <p>
      Once you register, you will be able to edit both your username and your
      full name.
    </p>
    <p>
      Please be aware that
      <span class="red">there is currently no way to change the password</span>.
    </p>

    <form action="register" method="post">
      <label for="name">Full Name:</label>
      <input type="text" id="name" name="name" />
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <input id="submit" type="submit" value="Submit" />
    </form>
  </body>
</html>
